body {
    margin: 0;
    padding: 0;
    background-color: rgb(17, 24, 32);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding: 20px;
}

nav li:hover {
    text-decoration: underline;
}

.index-header div {
    margin: 0;
    padding-top: 200px;
}

.index-header{
    height: 400px;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.index-main {
    padding: 20% 10% 0 10%;
}

main {
    padding: 0 10% 0 10%;
}

main section h1 {
    font-size: 3em;
}

main section h2 {
    font-size: 2em;
}

main section {
    background-color: rgb(33, 42, 56);
    border-radius: 20px;
    padding: 5px 20px;
    margin: 0 0 50px;
    border-color: aliceblue;
    border-width: 2px;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.skills-and-tools-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skills-and-tools-list li {
    display: inline-block;
    padding: 7px;
    margin: 5px;
    background-color: rgb(28, 55, 87);
    border-radius: 15px;
}

.skills-and-tools-list li:first-child {
    margin: 5px 5px 5px 0;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.see-more-text {
    text-decoration: underline;
}

footer {
    margin: 0;
    display: inline-block;
    width: 100%;
    background-color: rgb(18, 31, 46);
}

footer li {
    display: inline-block;
    margin: 0;
    padding: 2%;
}